# Build
build
build

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Users Environment Variables
.lock-wscript

.idea

# Relay

scripts/RelaySchema.json
